
.center[b-w6l7chfipm] {
    border: 3px solid #da61bb;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

#c[b-w6l7chfipm] {
    width: 100%;
    height: 100%;
    display: inline;
    margin: 20px;
}
